.content
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
  あああ
.footer
  %nav
    .footer
      %h2.heading
        メルカリについて
        %ul
          %li
            %a{href: "home"} 会社概要（運営会社）
          %li
            %a{href: "blog"} 採用情報
          %li
            %a{href: "contents"} プレスリリース
          %li
            %a{href: "sitemap"} 公式ブログ
          %li
            %a{href: "sitemap"} メルカリロゴ利用ガイドライン
      