- breadcrumb :logout
=render "users/header"
.main__all.clearfix
  .content__all
    .right__content__container
      .logout__form
        .main__logout
          = link_to "ログアウト", destroy_user_session_path, method: :delete, class: "main__logout__btn"
    =render "users/kamera"
  =render "users/left_side_bar"
=render "users/footer"  

