.menber__payment__input
  .single-container
    %header.single-header
      %h1
        %a{:href => "#"}
          %img{:alt => "mercari", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo.svg?2356214421"}/
      %nav.progress-bar.signup-bar
        %ol.clearfix
          %li.active
            会員情報
            .progress-status
          %li
            電話番号認証
            .progress-status
          %li
            お届け先住所入力
            .progress-status
          %li
            支払い方法
            .progress-status
          %li
            完了
            .progress-status

    %main.l-container.clearfix
      .l-content
        %section.l-chapter-container
          %h2.l-chapter-head お支払い方法
          %form#add-card-form.l-single-inner.registration-form{:action => "https://www.mercari.com/jp/mypage/card/add/", "data-adyen-id" => "card-form", :method => "POST", :novalidate => "novalidate"}
            %input{:name => "__csrf_value", :type => "hidden", :value => "f59696891753b1cec98f42267145ec59096dbccdaed213bc5683edd30973523e79a04b1aceae754613065a40efc7ab3fbe11c0430c429c93b10fafa8d47a0b693"}/
            .l-single-content
              .form-group
                %label{:for => "payment_card_no"} カード番号
                %span.form-require 必須
                %input#payment_card_no.input-default{"data-input-type" => "card", :maxlength => "19", :placeholder => "半角数字のみ", :type => "text", :value => ""}/
                %ul#card-no-error-wrapper.has-error-text
                %ul.signup-card-list
                  %li
                    %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2356214421", :width => "49"}/
                  %li
                    %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2356214421", :width => "34"}/
                  %li
                    %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2356214421", :width => "30"}/
                  %li
                    %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2356214421", :width => "32"}/
                  %li
                    %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2356214421", :width => "21"}/
                  %li
                    %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2356214421", :width => "32"}/
                  %li
                    %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2356214421", :width => "32"}/
              .form-group.signup-form-expire
                %label{:for => "payment_card_expire"} 有効期限
                %span.form-require 必須
                %br/
                .select-wrap.half
                  %select#payment_card_expire_mm.select-default
                    %option{:value => "01"} 01
                    %option{:value => "02"} 02
                    %option{:value => "03"} 03
                    %option{:value => "04"} 04
                    %option{:value => "05"} 05
                    %option{:value => "06"} 06
                    %option{:value => "07"} 07
                    %option{:value => "08"} 08
                    %option{:value => "09"} 09
                    %option{:value => "10"} 10
                    %option{:value => "11"} 11
                    %option{:value => "12"} 12
                  %i.icon-arrow-bottom
                  %span 月
                .select-wrap.half
                  %select#payment_card_expire_yy.select-default
                    %option{:value => "19"} 19
                    %option{:value => "20"} 20
                    %option{:value => "21"} 21
                    %option{:value => "22"} 22
                    %option{:value => "23"} 23
                    %option{:value => "24"} 24
                    %option{:value => "25"} 25
                    %option{:value => "26"} 26
                    %option{:value => "27"} 27
                    %option{:value => "28"} 28
                    %option{:value => "29"} 29
                  %i.icon-arrow-bottom
                  %span 年
                %ul#expire-mm-error-wrapper.has-error-text
                %ul#expire-yy-error-wrapper.has-error-text
              .form-group
                %label{:for => "payment_card_security_code"} セキュリティコード
                %span.form-require 必須
                %input#payment_card_security_code.input-default{:placeholder => "カード背面4桁もしくは3桁の番号", :type => "number", :value => ""}/
                %ul#security-code-error-wrapper.has-error-text
                .signup-seqcode
                  .signup-seqcode-text{"data-js" => "show-tips-toggle"}
                    %span.form-question> ?
                    カード裏面の番号とは？
                  .signup-seqcode-info{"data-js" => "show-tips-content"}
                    カードの裏面をご参照ください。
                    %br/
                    %img{:alt => "", :src => "//www-mercari-jp.akamaized.net/assets/img/signup/seq-card.png?2356214421", :width => "240"}/
              %input#user_id{:name => "user_id", :type => "hidden", :value => "642311628"}/
              %input#encrypted_card_data{:name => "encrypted_card_data", :type => "hidden"}/
              %p#primary-error.has-error-text
              %input{:name => "after_save_callback", :type => "hidden", :value => ""}/
              %button#submit-button.btn-default.btn-red{:type => "button"} 追加する
            %script{:async => "", :src => "https://www.google-analytics.com/analytics.js", :type => "text/javascript"}
            %script{:async => "", :src => "https://www.google-analytics.com/plugins/ua/ec.js", :type => "text/javascript"}
            %script{:async => "", :src => "https://www.google-analytics.com/gtm/js?id=GTM-WVG9WTC&cid=1621550099.1574907691", :type => "text/javascript"}
            %script{:async => "", :src => "https://connect.facebook.net/signals/config/1964320460558899?v=2.9.14&r=stable"}
            %script{:async => "", :src => "https://connect.facebook.net/en_US/fbevents.js"}
            %script{:async => "", :src => "https://www.google-analytics.com/analytics.js", :type => "text/javascript"}
            %script{:async => "", :src => "//www.googleadservices.com/pagead/conversion_async.js", :type => "text/javascript"}
            %script{:async => "", :src => "https://www.googletagmanager.com/gtm.js?id=GTM-KLPT5L5"}
            %script{:async => "", :src => "https://p01.mul-pay.jp/ext/js/token.js"}
            %script{:async => "", :src => "//www-mercari-jp.akamaized.net/assets/js/get_gmopg_card_token.js?453494694"}
            %script{:src => "https://googleads.g.doubleclick.net/pagead/viewthroughconversion/880621981/?random=1575947133055&cv=9&fst=1575947133055&num=1&guid=ON&resp=GooglemKTybQhCsO&eid=376635471&u_h=1080&u_w=1920&u_ah=1057&u_aw=1920&u_cd=24&u_his=8&u_tz=540&u_java=false&u_nplug=3&u_nmime=4&gtm=2wgav9&sendb=1&ig=1&frm=0&url=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fmypage%2Fcard%2Fcreate%2F&ref=https%3A%2F%2Fwww.mercari.com%2Fjp%2Fmypage%2Fcard%2F&tiba=%E3%82%AF%E3%83%AC%E3%82%B8%E3%83%83%E3%83%88%E3%82%AB%E3%83%BC%E3%83%89%E6%83%85%E5%A0%B1%E5%85%A5%E5%8A%9B%20-%20%E3%83%A1%E3%83%AB%E3%82%AB%E3%83%AA%20%E3%82%B9%E3%83%9E%E3%83%9B%E3%81%A7%E3%81%8B%E3%82%93%E3%81%9F%E3%82%93%20%E3%83%95%E3%83%AA%E3%83%9E&hn=www.googleadservices.com&async=1&rfmt=3&fmt=4"}
    
  -# %main.single-main
  -#   %section.l-single-container
  -#     %h2.l-single-head.registration 支払い方法
  -#     %form#register-form.l-single-inner.registration-form{:action => "https://www.mercari.com/jp/signup/sms_confirmation/", :method => "POST", :novalidate => "novalidate"}
  -#       %input{:name => "__csrf_value", :type => "hidden", :value => "eb82bada54233689f664eac52a1c7c1069c240c57f79a2a36e0c76fe951d867fb6447c575d9ea1b359155f36e81108827ee253253c537dfc5b2a1299cafc52e34"}/
  -#       .l-single-content
  -#         .form-group
  -#           %label{:for => "nickname"} カード番号
  -#           %span.form-require 必須
  -#           %br/
  -#           %input.input-default{:name => "nickname", :placeholder => "半角数字のみ", :type => "text", :value => ""}/
  -#           .creditCard-img
  -#             %ul.signup-card-list
  -#             %li
  -#               %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/visa.svg?2356214421", :width => "49"}/
  -#             %li
  -#               %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/master-card.svg?2356214421", :width => "34"}/
  -#             %li
  -#               %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/saison-card.svg?2356214421", :width => "30"}/
  -#             %li
  -#               %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/jcb.svg?2356214421", :width => "32"}/
  -#             %li
  -#               %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/american_express.svg?2356214421", :width => "21"}/
  -#             %li
  -#               %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/dinersclub.svg?2356214421", :width => "32"}/
  -#             %li
  -#               %img{:alt => "", :height => "20", :src => "//www-mercari-jp.akamaized.net/assets/img/card/discover.svg?2356214421", :width => "32"}/

  -#         .form-group.selectYear
  -#           %label{:for => "nickname"} カード番号
  -#           %span.form-require 必須
  -#           %select#payment_card_expire_mm.select-default
  -#             %option{:value => "01"} 01
  -#             %option{:value => "02"} 02
  -#             %option{:value => "03"} 03
  -#             %option{:value => "04"} 04
  -#             %option{:value => "05"} 05
  -#             %option{:value => "06"} 06
  -#             %option{:value => "07"} 07
  -#             %option{:value => "08"} 08
  -#             %option{:value => "09"} 09
  -#             %option{:value => "10"} 10
  -#             %option{:value => "11"} 11
  -#             %option{:value => "12"} 12
  -#           %span.selectYear 月
  -#           %select#payment_card_expire_yy.select-default
  -#             %option{:value => "19"} 19
  -#             %option{:value => "20"} 20
  -#             %option{:value => "21"} 21
  -#             %option{:value => "22"} 22
  -#             %option{:value => "23"} 23
  -#             %option{:value => "24"} 24
  -#             %option{:value => "25"} 25
  -#             %option{:value => "26"} 26
  -#             %option{:value => "27"} 27
  -#             %option{:value => "28"} 28
  -#             %option{:value => "29"} 29
  -#           %span.selectYear 年
  -#         .form-group
  -#           %label{:for => "nickname"} セキュリティコード
  -#           %span.form-require 必須
  -#           %br/
  -#           %input.input-default{:name => "nickname", :placeholder => "カード背面4桁もしくは3桁の番号", :type => "text", :value => ""}/
  -#           .signup-seqcode-text{"data-js" => "show-tips-toggle"}
  -#             %span.form-question？
  -#             カード裏面の番号とは？
  -#         .form-group
  -#           %button.btn-default.btn-red{:type => "submit"} 次へ進む

  .footer_warrap 
    %footer.single-footer
      %nav
        %ul.clearfix
          %li
            %a{:href => "https://www.mercari.com/jp/privacy/"} プライバシーポリシー
          %li
            %a{:href => "https://www.mercari.com/jp/tos/"} メルカリ利用規約
          %li
            %a{:href => "https://www.mercari.com/jp/tokutei/"} 特定商取引に関する表記
      %a.single-footer-logo{:href => "https://www.mercari.com/jp/"}
        %img{:alt => "mercari", :height => "65", :src => "//www-mercari-jp.akamaized.net/assets/img/common/common/logo-gray.svg?2356214421", :width => "80"}/
        %p
          %small © Mercari, Inc.