.footer
  %nav
    .footer__left
      %h2.heading
        メルカリについて
      %ul
        %li.footer__list
          %a{href: "home"} 会社概要（運営会社）
        %li.footer__list
          %a{href: "blog"} 採用情報
        %li.footer__list
          %a{href: "contents"} プレスリリース
        %li.footer__list
          %a{href: "sitemap"} 公式ブログ
        %li.footer__list
          %a{href: "sitemap"} メルカリロゴ利用ガイドライン
    .footer--help
      %h2.heading
        ヘルプ＆ガイド
      %ul
        %li.footer__list
          %a{href: "home"} メルカリガイド
        %li.footer__list
          %a{href: "blog"} らくらくメルカリ便
        %li.footer__list
          %a{href: "contents"} ゆうゆうメルカリ便
        %li.footer__list
          %a{href: "sitemap"} 大型メルカリ便
        %li.footer__list
          %a{href: "sitemap"} 車体取引ガイド
        %li.footer__list
          %a{href: "home"} メルカリあんしん・あんぜん宣言！
        %li.footer__list
          %a{href: "blog"} 偽ブランド品撲滅への取り組み
        %li.footer__list
          %a{href: "contents"} メルカリボックス
    .footer__center
      %h2.heading
        プライバシーと利用規約
      %ul
        %li.footer__list
          %a{href: "home"} プライバシーポリシー
        %li.footer__list
          %a{href: "blog"} メルカリ利用規約
        %li.footer__list
          %a{href: "contents"} 安心スマホサポート制度に関する利用規約
        %li.footer__list
          %a{href: "sitemap"} コンプライアンスポリシー
    .footer__center__right
      %ul
        %li.footer__list
          %a{href: "home"} 個人データの安全管理に係る基本方針
        %li.footer__list
          %a{href: "blog"} 特定商取引に関する表記
        %li.footer__list
          %a{href: "contents"} 資金決済法に基づく表示
        %li.footer__list
          %a{href: "sitemap"} 法令順序と犯罪抑止の為にために
    .footer__right
      %h2.heading
        国
      %ul
        %li.footer__list
          %a{href: "home"} 日本
        %li.footer__list
          %a{href: "blog"} United States
  .footer__end
    %a.footer__bottom
      = image_tag "fmarket_logo_white.svg", size: "134x36", href: "http://google.co.jp"
      %span
        © Mercari, Inc.
.exhibit
    