// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.foom{
  position: relative;
  width: 100%;
}
  .header__t{
    background: #fff;
  }
    .header{
      height: 100px;
      width: 1020px;
      margin: 0 auto;
      background: #fff;
        &__box{
          width: 1020px;
          padding: 8px 0 0;
        }
          &__input__box{
            display: flex;
          }
            &--image{
              width: 136px;
              height: 40px;
              margin-right: 45px;
            }
              &--btn{
                position: absolute;
                right: 0;
                top: 12px;
                margin-right: 10px;
              }
        &__bottom{
          width: 1020px;
          height: 52px;
          background-color:#fff;
          display: flex;
          justify-content: space-between;
          line-height: 52px;
        }
          &__bottom__left{
            height: 100vh;
            font-weight: bold;
            float: left;
          }
          &__bottom__right{
            float: right;
            list-style: none;
          }
            &__navi{
              font-size: 0;
            }
              &__navi__link{
                padding: 0 14px;
              }
    }   
.fa-heart{
  font-size: 18px;  
}
.span{
  margin-left: 10px;
  font-size: 14px;
}
  .bread__list{
    position: relative;
    border-top: 1px solid #eee;
    background: white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
      ul{
      width: 1020px;
      overflow: visible;
      margin: 0 auto;
      padding: 10px 0;
      white-space: normal;
      padding: 16px;
      font-size: 0;
      overflow: auto;
      }
        li{
        display: inline-block;
        font-size: 14px;
        line-height: 1.2;
        }
          .icon-arrow-right{
            margin: 0 8px;
            font-size: 9px;
            color: #888;
          }
}
.search__box{
  height: 40px;
  width: 100%;
  background-color: ghostwhite;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 50px;
}
.main__all{
  margin: 40px auto 0;
  padding: 0 0 40px;
  width: 1020px;
  min-height: 100vh;

  .content__all{
    float: right;
    width: 700px;
  }
    .right__content__container{
      margin: 0;
      background: #fff;
    }
      .logout__form{
        padding: 64px;
        border-top: 1px solid #f5f5f5;
      }
        .main__logout{
          max-width: 320px;
          margin: 0 auto;
          &__btn{
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }
        }
        .left__main{
          float: left;
          width: 280px;
          margin: 0 40px 0 0;
          display: block;
          }
            .left__main__list{
            border-top: 1px solid #eee;
            }
              .item{
              position: relative;
              display: block;
              min-height: 48px;
              padding: 16px;
              background: #fff;
              font-size: 14px;
              color: #333;
              }
          .main__list__head{ 
          display: block;
          font-size: 1.17em;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
          margin: 40px 0 0;  
        }
}        
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.contents{
  background-color: rgb(245, 245, 245);
  max-width: 1020px;
  width: 100%;
  margin: 60px auto 0;
    &__image{
    }
    &__category{
      background-color: white;
      padding-top: 56px;
      padding-bottom: 30px;
      font-weight: bold;
      text-align: center;
      left: 50%;
      margin-left: -50vw;
      position: relative;
      top: 0px;
      width: 100vw;
      h2{
        font-size: 28px;
        margin-bottom: 16px;
      }
    }
      &__list{
      height: 40px;
      background-color: rgb(245, 245, 245);
      border: 1px solid rgb(245, 245, 245);
      border-radius: 5px;
      text-align: center;
      padding: 8px 10px;
      margin-top: 10px;
      margin-left: 10px;
      }
        &__main{
          background-color: rgb(245, 245, 245);
        }
        &__main__top{
          margin-top: 60px;
          a{
            color: rgb(12, 136, 238);
          }
          h3{
            font-size: 24px;
          }
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
        }
&__bottom__image{
  width: 100%;
  height: 260px;
  color: white;
  vertical-align: bottom;
  line-height: 0em;
  background-image: url("イギリス.png");
  background-size: cover;
}
&__bottom__image__detail{
  display: flex;
  justify-content: space-between;
  width: 750px;
  margin: 0 auto;
}
&__bottom__left__text{
  font-size: 24px;
  font-weight: 600px;
  margin-bottom: 20px;
  padding-top: 50px;
}
&__bottom__left__texts{
  font-size: 35px;
  margin-bottom: 20px;
}
&__bottom__icon{
  display: flex;
  justify-content: space-between;
  vertical-align: baseline;
}
&__bottom__app{
  margin-top: 16px;
}
&__bottom__google{
  margin-top: 16px;
}
}

.footer{
  nav{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
  }
  width: 100%;
  background-color: rgb(46, 44, 44);
  font-size: 12px;
  color: white;
  padding: 0 20px 10px 20px;
  span{
    line-height: 36px;
    width: 75%;
    padding-left: 15px;
    text-align: center;
  }
    a{
      color: #fff;
    }
  &__list{
    margin-top: 16px;
    color: white;
  }
    &__center__right{
      padding-top: 40px;
    }
  &__bottom{
    width: 80%;
    margin: 30px auto;
    display: flex;
  }
}
.sell__btn{
bottom: 32px;
right: 32px;
width: 160px;
height: 160px;
font-size: 22px;
position: fixed;
z-index: 1000;
width: 80px;
height: 80px;
border-radius: 50%;
background: #ea352d;
color: #fff;
text-align: center;
&__name{
margin: 32px 0 0;
}
}
