.footer{
  width: 100%;
  background-color: rgb(46, 44, 44);
  font-size: 12px;
  color: white;
  padding: 0 20px 10px 20px;
  span{
    line-height: 36px;
    width: 75%;
    padding-left: 15px;
    text-align: center;
  }
  a{
    color: #fff;
  }
  &__list{
    margin-top: 16px;
    color: white;
  }
  &__center__right{
    padding-top: 40px;
  }
  &__bottom{
    width: 80%;
    margin: 30px auto;
    display: flex;
  }
}
