
.user__sell__l-container {
  width: 1020px;
  height: 1400px;
  margin: 40px auto 0;
  .user__sell__myitem {
    float: right;
    width: 700px;
    &--title .active {
      background-color: #fff;
    }
    &--title:nth-of-type(1) {
      margin: 0;
    }
    &--head {
      background-color: #fafafa;
      font-size: 16px;
      line-height: 72px;
      padding: 0 16px;
    }
    &--status {
      background-color: #eee;
      display: block;
      font-size: 16px;
      line-height: 72px;
      display: flex;
      justify-content: center;
    }
    &--status li {
      width: 33.3%;
      display: inline-block;
      text-align: center;
      font-size: 14px;
    }
    &--status li.active {
      border-top: 2px solid #ea352d;
      
    }
    &--tab li {
      display: flex;
    }
    
    &--tab .active {
      display: block;
    }
    .sell__item__link {
      display: block;
      min-height: 80px;
      padding: 16px;
      color: #333;
      position: relative;  
      
    }
   .sell__photo {
     position: absolute;
     padding-left: 10px;
     width: 60px;
     height: 60px;
   }
    &--body {
      margin:0 40px 0 68px;
      width: 20%;
    }
    .sell__status {
      margin:8px 0 0 0;
      padding: 5px 6px;
      border-radius: 2px;
      font-size: 12px;
      color: #fff;
      background-color: #0099e8;
      text-align: center;
      font-weight: 400px ;
      width: 60%;
      
    }
   
  }
}
.left__main{
  float: left;
  width: 280px;
  margin: 0 40px 0 0;
  display: block;
    }
    .left__main__list{
    border-top: 1px solid #eee;
      }
      .item{
      position: relative;
      display: block;
      min-height: 48px;
      padding: 16px;
      background: #fff;
      font-size: 14px;
      color: #333;
  }
  .main__list__head{ 
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  margin: 40px 0 0;
  }
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}