// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
}
.foom{
  position: relative;
  width: 100%;
}
  .header__t{
    background: #fff;
  }
    .header{
      height: 100px;
      width: 1020px;
      margin: 0 auto;
      background: #fff;
        &__box{
          width: 1020px;
          padding: 8px 0 0;
        }
          &__input__box{
            display: flex;
          }
            &--image{
              width: 136px;
              height: 40px;
              margin-right: 45px;
            }
              &--btn{
                position: absolute;
                right: 0;
                top: 12px;
                margin-right: 10px;
              }
        &__bottom{
          width: 1020px;
          height: 52px;
          background-color:#fff;
          display: flex;
          justify-content: space-between;
          line-height: 52px;
        }
          &__bottom__left{
            height: 100vh;
            font-weight: bold;
            float: left;
          }
          &__bottom__right{
            float: right;
            list-style: none;
          }
            &__navi{
              font-size: 0;
            }
              &__navi__link{
                padding: 0 14px;
              }
    }   
.fa-heart{
  font-size: 18px;  
}
.span{
  margin-left: 10px;
  font-size: 14px;
}
  .bread__list{
    position: relative;
    border-top: 1px solid #eee;
    background: white;
    box-shadow: 0 3px 3px 0 rgba(0,0,0,0.16);
      ul{
      width: 1020px;
      overflow: visible;
      margin: 0 auto;
      padding: 10px 0;
      white-space: normal;
      padding: 16px;
      font-size: 0;
      overflow: auto;
      }
        li{
        display: inline-block;
        font-size: 14px;
        line-height: 1.2;
        }
          .icon-arrow-right{
            margin: 0 8px;
            font-size: 9px;
            color: #888;
          }
}
.category{
  padding-right: 10px;
}
.search__box{
  height: 40px;
  width: 100%;
  background-color: ghostwhite;
  font-size: 16px;
  padding-left: 10px;
  padding-right: 50px;
}
.mypage__view{
  margin: 40px auto 0;
  width: 1020px;
  padding: 0 0 40px;
  &__all{
  float: right;
  width: 700px;
    }
    &__user-icon{
      position: relative;
      height: 155px;
      padding: 20px;
      background: url(mypage.jpg);
      background-size: cover;
      text-align: center;
      height: 200px;
        }
        figure{
          position: relative;
          overflow: hidden;
          width: 48px;
          height: 48px;
        }
      .user{
        overflow: hidden;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        border-radius: 50%;
        top: 50%;
        }
        &__user__name{
          margin: 8px 0 0;
          font-size: 14px;
          font-weight: 600;
        }
        &__number{
          margin: 8px 0 0;
          font-size: 0;
          }
          &__name{
            display: inline-block;
            font-size: 14px;
            }
            &__tab{
              margin: 0;
              background: #fff;
              -webkit-appearance: none;
              -moz-appearance: none;
              appearance: none;
              }
          &__tabs{
            border: 0;
            background: #eee;
            font-size: 0;
            }
            .active{
              background: #fff;
              width: 50%;
              display: inline-block;
              text-align: center;
              vertical-align: top;
            }
            .informatiom{
            font-size: 22px;
            }
          .active a{
            border-top: 2px solid #ea352d;
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
          }
          .active__two{
            width: 50%;
            display: inline-block;
            text-align: center;
            vertical-align: top;
          }
          .active__two a{
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            }
            &__nav__number{
              position: absolute;
              top: 50%;
              right: 32px;
              width: 24px;
              height: 24px;
              border-radius: 50%;
              background: #ea352d;
              text-align: center;
              line-height: 24px;
              color: #fff;
              display: none;
              }
          .tab__content__list{
            display: block;
            }
            li{
              border-bottom: 1px solid #eee;
              }
              .tab__content__link{
                display: block;
                min-height: 80px;
                padding: 16px;
                color: #333;
               }
                .lazyloaded{
                  overflow: hidden;
                  float: left;
                  height: 48px;
                  position: absolute;
                  }
                .mypage__view__body{
                  margin: 0 40px 0 85px;
                  }
                  .mypage__view__text {
                  overflow: hidden;
                  display: block;
                  max-height: 4.4em;
                  line-height: 1.5;
                  }
              time{
                display: inline-block;
                color: #888;
                }
                .icon__time{
                  margin: 0 8px 0 0;
                }
                span{
                  vertical-align: middle;
                }
             .icon-arrow-right{
              position: absolute;
              top: 50%;
              right: 16px;
              transform: translate(0, -50%);
              }
            .list{
              display: block;
              height: 56px;
              margin: 0 auto;
              background: #eee;
              color: #333;
              line-height: 56px;
              text-align: center;
              }
              .mypage__tab__footer{
                margin: 40px 0 0;
                background: #fff;
              }
            .mypage__tab__head{
              background: #fafafa;
              font-size: 16px;
              line-height: 72px;
              padding: 0 16px;
            }
            .transactions{
              position: relative;
              display: block;
              color: #333;
              font-size: 16px;
              line-height: 72px;
            }
            .trading{
            border-top: 2px solid #ea352d;
            position: relative;
            display: block;
            color: #333;
            font-size: 16px;
            line-height: 72px;
            }
            .tab__content__active{
              display: block;
              }
              .tab__content__item{
                padding: 160px 0 60px;
                background: url(logo_gray.svg);
                background-repeat: no-repeat;
                background-position: center 40px;
                background-size: 78px 85px;
                text-align: center;
                font-size: 16px;
                color: #ccc;
              }
            // .tab__content__item__not{
            //   padding: 160px 0 60px;
            //   // background: url(logo_gray.svg);
            //   background-repeat: no-repeat;
            //   background-position: center 40px;
            //   background-size: 78px 85px;
            //   text-align: center;
            //   font-size: 16px;
            //   color: #ccc;
            // }
      .left__main{
        float: left;
        width: 280px;
        margin: 0 40px 0 0;
        display: block;
          }
          .left__main__list{
          border-top: 1px solid #eee;
            }
            .item{
            position: relative;
            display: block;
            min-height: 48px;
            padding: 16px;
            background: #fff;
            font-size: 14px;
            color: #333;
        }
        .main__list__head{ 
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
        margin: 40px 0 0;
        }
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.contents{
  background-color: rgb(245, 245, 245);
  max-width: 1020px;
  width: 100%;
  margin: 60px auto 0;
    &__category{
      background-color: white;
      padding-top: 56px;
      padding-bottom: 30px;
      font-weight: bold;
      text-align: center;
      left: 50%;
      margin-left: -50vw;
      position: relative;
      top: 0px;
      width: 100vw;
      h2{
        font-size: 28px;
        margin-bottom: 16px;
      }
      }
      &__list{
      height: 40px;
      background-color: rgb(245, 245, 245);
      border: 1px solid rgb(245, 245, 245);
      border-radius: 5px;
      text-align: center;
      padding: 8px 10px;
      margin-top: 10px;
      margin-left: 10px;
        }
        &__main{
          background-color: rgb(245, 245, 245);
        }
        &__main__top{
          margin-top: 60px;
          a{
            color: rgb(12, 136, 238);
          }
          h3{
            font-size: 24px;
          }
          display: flex;
          justify-content: space-between;
          margin-bottom: 16px;
          }
  &__bottom__image{
    width: 100%;
    height: 260px;
    color: white;
    vertical-align: bottom;
    line-height: 0em;
    background-image: url("イギリス.jpg");
    background-size: cover;
  }
  &__bottom__image__detail{
    display: flex;
    justify-content: space-between;
    width: 750px;
    margin: 0 auto;
  }
  &__bottom__left__text{
    font-size: 24px;
    font-weight: 600px;
    margin-bottom: 20px;
    padding-top: 50px;
  }
  &__bottom__left__texts{
    font-size: 35px;
    margin-bottom: 20px;
  }
  &__bottom__icon{
    display: flex;
    justify-content: space-between;
    vertical-align: baseline;
  }
  &__bottom__app{
    margin-top: 16px;
  }
  &__bottom__google{
    margin-top: 16px;
  }
  }
.footer{
    nav{
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
    }
    width: 100%;
    background-color: rgb(46, 44, 44);
    font-size: 12px;
    color: white;
    padding: 0 20px 10px 20px;
    span{
      line-height: 36px;
      width: 75%;
      padding-left: 15px;
      text-align: center;
      }
      a{
        color: #fff;
    }
    &__list{
      margin-top: 16px;
      color: white;
      }
      &__center__right{
        padding-top: 40px;
    }
    &__bottom{
      width: 80%;
      margin: 30px auto;
      display: flex;
    }
}
.sell__btn{
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  position: fixed;
  z-index: 1000;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
  &__name{
  margin: 32px 0 0;
  }
}