// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.content__all__view{
  margin: 40px auto 0;
  width: 1020px;
}
  .main__profile{
    width: 700px;
    float: right;
    background: #fff;
  }
    .main__all{
      margin: 0;
    }
      .main__content__profile__head{
        font-size: 24px;
        padding: 8px 24px;
        border-bottom: 1px solid #f5f5f5;
        text-align: center;
          &__form{
            background: #f5f5f5;
          }
            &__input{
              border: 0;
              outline: 0;
              font-family: inherit;
              -webkit-appearance: none;
            }
      }
        .profile__main{
          padding: 72px 16px 24px;
          background: url("メルカリ.png");
          background-repeat: no-repeat;
          background-size: cover;
          text-align: center;
          font-size: 0;
          &__figure{
            display: inline-block;
            overflow: hidden;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            vertical-align: middle;   
          }
          &__input{
            width: 220px;
            margin: 0 0 0 8px;
            vertical-align: middle;
            height: 48px;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
          }
            &__content{
              padding: 40px 16px;
              min-height: 216px; 
            }
          }
        .extarea__main{
          display: block;
          width: 100%;
          max-width: 100%;
          min-height: 104px;
          padding: 10px;
          border: 1px solid #ccc;
          background: #fff;
          font-size: 16px;
          line-height: 1.5;
          &__btn{
            margin: 16px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            -webkit-transition: all ease-out .3s;
            transition: all ease-out .3s;
            cursor: pointer;
            text-align: center;
          }
        }
  .left__main{
    float: left;
    width: 280px;
    margin: 0 40px 0 0;
    &__list{
      border-top: 1px solid #eee;
    }
  }
    .main__list__item{
      position: relative;
      display: block;
      min-height: 48px;
      padding: 16px;
      background: #fff;
      font-size: 14px;
      color: #333;
        &__head{ 
          display: block;
          font-size: 1.17em;
          margin-block-start: 1em;
          margin-block-end: 1em;
          margin-inline-start: 0px;
          margin-inline-end: 0px;
          font-weight: bold;
          margin: 40px 0 0;
        }
    }
.sell__btn{
  bottom: 32px;
  right: 32px;
  width: 160px;
  height: 160px;
  font-size: 22px;
  position: fixed;
  z-index: 1000;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #ea352d;
  color: #fff;
  text-align: center;
&__name{
margin: 32px 0 0;
}
}