.logIn__wrapper{
height: 100vh;
  .logIn__header{
  height: 15vh;
  } 
  .logIn__main {
  display: block;
  }
  .login-panel {
  background-color: skyblue;
  max-width: none;
  width: 456px;
  max-width: 456px;
  margin: 0 auto;
  background: #fff;
  }
  .login-no-account {
  padding: 40px 64px;
  text-align: center;
  }
  .login-no-account p {
  font-size: 14px;
  }
  .login-no-account a {
  display: block;
  margin: 8px 0 0;
  border: 1px solid #0099e8;
  background: #0099e8;
  color: #fff;
  line-height: 40px;
  }
  .facebook_login{
    color:  #fff;
  }
  .signUp__linkMessage{
    background-color: #fff;
  }
  .login-form-inner {
  padding: 32px 64px;
  border-top: 1px solid #eee;
  }
  .btn-sns-facebook {
  background: #385185;
  color: #fff;
  }
  .btn-sns {
  position: relative;
  }
  .btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  }
  button {
  border: 0;
  outline: 0;
  cursor: pointer;
  }
  
  .icon-facebook {
      font-size: 26px;
  }
  .btn-sns-google {
  margin: 16px 0 0;
  background: #fff url("#") no-repeat 3px top;
  border: #979797 solid 1px;
  color: #333;
  }
  
  .input-default {
    width: 100%;
    height: 48px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background: #fff;
    line-height: 1.5;
    font-size: 16px;
  }
  .btn-red {
    margin-top: 20px;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }
  .btn-default {
    display: block;
    line-height: 48px;
    font-size: 14px;
  }
}

