.logIn__wrapper{
  height: 100vh;

  .logIn__header{
    height: 15vh;
  }
  
  .logIn__main {
    display: block;
  }
  .login-panel {

    background-color: skyblue;
    max-width: none;
    width: 456px;
    max-width: 456px;
    margin: 0 auto;
    background: #fff;
  }
  .login-no-account {
    padding: 40px 64px;
    text-align: center;
  }
  .login-no-account p {
    font-size: 14px;
  }
  .login-no-account a {
    display: block;
    margin: 8px 0 0;
    border: 1px solid #0099e8;
    background: #0099e8;
    color: #fff;
    line-height: 40px;
  }
  .login-form-inner {
    padding: 32px 64px;
    border-top: 1px solid #eee;
  }
  .btn-sns-facebook {
    background: #385185;
    color: #fff;
  }
  .btn-sns {
    position: relative;
  }
  .btn-default {
    display: block;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border: 1px solid transparent;
    -webkit-transition: all ease-out .3s;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  button {
    border: 0;
    outline: 0;
    cursor: pointer;
  }
  i[class*='icon-'] {
    display: inline-block;
    font-family: 'icon-font';
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  .btn-sns i {
    position: absolute;
    top: 50%;
    left: 16px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
  }
  .icon-facebook {
    font-size: 26px;
  }
  .btn-sns-google {
    margin: 16px 0 0;
    background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
    border: #979797 solid 1px;
    color: #333;
  }
}

