// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.menberSignup__wrapper{
main {
display: block;
text-align: center;
 }
 .l-single-head.registration{
   color: black;
   background-color: white;
   border: none;
 }
.l-single-container {
width: 700px;
margin: 0 auto;
text-align: center;
}
.l-single-container {
background: #fff;

}
.l-chapter-head.registration {
font-size: 22px;
padding: 32px;
}
.l-single-inner.registration-form {
padding: 40px 40px 64px;
 }
.l-single-content{
text-align: center;
 }
.btn-default {
border-radius: 4px;
}
.btn-mail {
color: #fff;
background-color: #ea352d;
}
.btn-sns {
position: relative;
}
.btn-sns-facebook {
margin: 16px 0 0;
background: #385185;
color: #fff;
}
.btn-sns-google {
margin: 16px 0 0;
background: #fff url(/jp/assets/img/common/common/google.svg) no-repeat 3px top;
border: #979797 solid 1px;
color: #333;
}
.btn-default {
display: block;
width: 50%;
line-height: 48px;
font-size: 14px;
// border: 1px solid transparent;
-webkit-transition: all ease-out .3s;
transition: all ease-out .3s;
cursor: pointer;
text-align: center;
}
}