.menberInfo__input{
main {
  display: block;
}
.registration{
  background-color: white;
  color: black;
  border: none;
  margin-bottom: 30px;
}
.l-single-head.registration{
  text-align: center;
}
.l-single-container {
  width: 700px;
  margin: 0 auto;
  background: #fff;
}
.form-require{
  background-color: #ea352d;
  color: #fff;
  padding: 3px;
}

.input-default.has-error {
  border-color: #ea352d;
}
.form-group .input-default {
  width: 100%;
  margin: 8px 0 0;
}
.input-default {
  height: 48px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
}
input {
  border: 0;
  outline: 0;
  font-family: inherit;
  -webkit-appearance: none;
  // -moz-appearance: none;
}
.has-error-text {
  color: #ea352d;
  line-height: 1.5;
  font-size: 14px;
}
.has-error-text li {
  margin: 8px 0 0;
}
.l-single-inner.registration-form .btn-red {
  margin-top: 32px;
}
.l-single-inner.registration-form .btn-red {
  margin: 24px 0 0;
}
.l-single-content p {
  margin: 8px 0 0;
  line-height: 1.5;
}
.l-single-content {
  max-width: 343px;
  margin: 0 auto;
}
.select-default {
  width: 5rem;
  background-color: #fff;
  position: relative;
  z-index: 2;
  height: 48px;
  padding: 0 16px;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}
span_span{
  display: block;
  font-size: 1.5em;
  margin-top: auto;
  margin-bottom: auto;
}
.birthday-select-wrap{
  display: flex;
}
.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}
.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}
.text-right{
  float: right;
}
}
 