.signUp__complete{
  .single-header {
    position: relative;
    display: flex;
    height: 128px;
  }
  .single-header a {
    position: absolute;
    left: 30%;
    width: 185px;
    height: 49px;
    line-height: 49px;
  }
  .single-header img {
    width: 185px;
    height: 49px;
  }
  .single-header h1 {
    margin: 40px 0 0;
    // display: inline-block;
  }
  .signup-bar.progress-bar {
    padding: 40px 0 0 44px;
    border: 0;
  }
  .clearfix{
    display: flex;
  }
  .progress-bar ol {
    position: absolute;
    left: 50%;
    margin: 0;
  }
  li{
    list-style-type: square;
    margin: 20px;
  }

  main {
    display: block;
  }
  .l-single-container {
    width: 700px;
    margin: 0 auto;
    background: #fff;
  }
  .l-chapter-head.registration{
    color: black;
    background-color: white;
    border: none;
  }
  .l-single-content {
    max-width: 343px;
    margin: 0 auto;
  }
  .l-chapter-head.registration {
    text-align: center;
    font-size: 22px;
    padding: 32px;
  }
  .l-single-inner.registration-form {
    padding: 40px 40px 64px;
  }
  .btn-red {
    margin-left: 25%;
    background: #ea352d;
    border: 1px solid #ea352d;
    color: #fff;
  }
  .btn-default {
    display: block;
    width: 50%;
    line-height: 48px;
    font-size: 14px;
    transition: all ease-out .3s;
    cursor: pointer;
    text-align: center;
  }
  .complete-text{
    text-align: center;
}
}