.single-main{
text-align: center;
font-size: 1.5rem;
.complete-text{
  margin-bottom: 5rem;
}
.btn-default {
  display: block;
  margin: 0 auto;
  width: 20%;
  padding-top: 1rem;
  padding-bottom: 1rem;
  line-height: 48px;
  font-size: 1.5rem;
  border: 1px solid transparent;
  -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
  }
.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
  }
.advertisement{
  margin: 5rem;
  }
}