.sms__confirmation__warraper{
  .single-header {
    position: relative;
    display: flex;
    height: 128px;
  }
  .single-header a {
    position: absolute;
    left: 30%;
    width: 185px;
    height: 49px;
    line-height: 49px;
  }
  .single-header img {
    width: 185px;
    height: 49px;
  }
  .single-header h1 {
    margin: 40px 0 0;
    // display: inline-block;
  }
  .signup-bar.progress-bar {
    padding: 40px 0 0 44px;
    border: 0;
  }
  .clearfix{
    display: flex;
  }
  .progress-bar ol {
    position: absolute;
    left: 50%;
    margin: 0;
  }
  li{
    list-style-type: square;
    margin: 20px;
  }

  main {
    display: block;
}
.l-single-container {
  width: 700px;
  margin: 0 auto;
  background: #fff;
}
.l-single-content {
  max-width: 343px;
  margin: 0 auto;
}
.l-chapter-head.registration {
  text-align: center;
  font-size: 22px;
  padding: 32px;
}
.l-single-inner.registration-form {
  padding: 40px 40px 64px;
}
input {
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  letter-spacing: normal;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0px;
  text-shadow: none;
  display: inline-block;
  text-align: start;
  -webkit-rtl-ordering: logical;
  cursor: text;
  margin: 0em;
  font: 400 11px system-ui;
  border: 0;
    outline: 0;
    font-family: inherit;
    -webkit-appearance: none;
}
.btn-red {
  background: #ea352d;
  border: 1px solid #ea352d;
  color: #fff;
}
.btn-default {
  display: block;
  width: 100%;
  line-height: 48px;
  font-size: 14px;
  // border: 1px solid transparent;
  // -webkit-transition: all ease-out .3s;
  transition: all ease-out .3s;
  cursor: pointer;
  text-align: center;
}

.menberInfo__info__fotter{
    list-style: none;
  }
}