



grade_one = Category.create(name: "レディース")

one_quantity = grade_one.children.create(name: "トップス")
one_quantity = grade_one.children.create(name: "ジャケット/アウター")
one_quantity = grade_one.children.create(name: "パンツ")
one_quantity = grade_one.children.create(name: "スカート")
one_quantity = grade_one.children.create(name: "ワンピース")
one_quantity = grade_one.children.create(name: "靴")
one_quantity = grade_one.children.create(name: "ルームウェア/パジャマ")
one_quantity = grade_one.children.create(name: "レッグウェア")
one_quantity = grade_one.children.create(name: "帽子")
one_quantity = grade_one.children.create(name: "バッグ")
one_quantity = grade_one.children.create(name: "アクセサリー")
one_quantity = grade_one.children.create(name: "ヘアアクセサリー")
one_quantity = grade_one.children.create(name: "小物")
one_quantity = grade_one.children.create(name: "時計")

one_quantity.children.create(name: (name:"Tシャツ/カットソー(半袖/袖なし)")
one_quantity.children.create(name: (name:"Tシャツ/カットソー(七分/長袖)")
one_quantity.children.create(name: (name:"シャツ/ブラウス(半袖/袖なし)")
one_quantity.children.create(name: (name:"シャツ/ブラウス(七分/長袖)")
one_quantity.children.create(name: (name:"ポロシャツ")
one_quantity.children.create(name: (name:"キャミソール")
one_quantity.children.create(name: (name:"タンクトップ")
one_quantity.children.create(name: (name:"ホルターネック")
one_quantity.children.create(name: (name:"ニット/セーター")
one_quantity.children.create(name: (name:"チュニック")
one_quantity.children.create(name: (name:"カーディガン/ボレロ")
one_quantity.children.create(name: (name:"アンサンブル")
one_quantity.children.create(name: (name:"ベスト/ジレ")
one_quantity.children.create(name: (name:"パーカー")







grade_two = Category.create(name: "メンズ")












one_quantity = grade_one.children.create(name: "トップス")
one_w= grade_one.children.create(name: "ジャケット/アウター")
one_quantity = grade_one.children.create(name: "パンツ")
one_quantity = grade_one.children.create(name: "スカート")
one_quantity = grade_one.children.create(name: "ワンピース")
one_quantity = grade_one.children.create(name: "靴")
one_quantity = grade_one.children.create(name: "ルーム/パジャマ")
one_quantity = grade_one.children.create(name: "レッグウェア")
one_quantity = grade_one.children.create(name: "帽子")
one_quantity = grade_one.children.create(name: "バッグ")
one_quantity = grade_one.children.create(name: "アクセサリー")
one_quantity = grade_one.children.create(name: "ヘアアクセサリー")
one_quantity = grade_one.children.create(name: "小物")
one_quantity = grade_one.children.create(name: "時計")


one_function = grade_one.children.create(name: "")
one_shape = grade_one.children.create(name: "")
one_shape = grade_one.children.create(name: "図形")
one_shape = grade_one.children.create(name: "図形")
one_shape = grade_one.children.create(name: "図形")
one_shape = grade_one.children.create(name: "図形")
one_shape = grade_one.children.create(name: "図形")
one_shape = grade_one.children.create(name: "図形")
one_shape = grade_one.children.create(name: "図形")












one_quantity.children.create(name: (name:"Tシャツ/カットソー(半袖/袖なし)")
one_quantity.children.create(name: (name:"Tシャツ/カットソー(七分/長袖)")
one_quantity.children.create(name: (name:"シャツ/ブラウス(半袖/袖なし)")
one_quantity.children.create(name: (name:"シャツ/ブラウス(七分/長袖)")
one_quantity.children.create(name: (name:"ポロシャツ")
one_quantity.children.create(name: (name:"キャミソール")
one_quantity.children.create(name: (name:"タンクトップ")
one_quantity.children.create(name: (name:"ホルターネック")
one_quantity.children.create(name: (name:"ニット/セーター")
one_quantity.children.create(name: (name:"チュニック")
one_quantity.children.create(name: (name:"カーディガン/ボレロ")
one_quantity.children.create(name: (name:"アンサンブル")
one_quantity.children.create(name: (name:"ベスト/ジレ")
one_quantity.children.create(name: (name:"パーカー")





one_w.children.create(name: "Tシャツ/カットソー(半袖/袖なし)")





one_function.children.create(name: "トップス")
one_shape.children.create(name: "トップス")

